<div class="col-md-6 col-md-offset-3">
    <!-- PAGE TITLE -->
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-tower" style="font-size:20px"></span><span
                style="font-size:20px; margin-left:10px;">About Us</span></h1>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">


                <p style="margin-top: 50px;">
                    Akın Caner PEKEL
                <ul>
                    <li>University of Economics</li>
                    <li>Computer Engineering</li>
                    <li>akin.pekel@std.izmirekonomi.edu.tr</li>

                </ul>
                </p>

            </div>
            <div class="col-md-6">


                <p style="margin-top: 50px;">
                    Tolgunay KARADAĞ
                    <br>
                <ul>
                    <li>University of Economics</li>
                    <li>Computer Engineering</li>

                </ul>
                </p>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-6">


                <p style="margin-top: 50px;">
                    Ali AKPINAR
                <ul>
                    <li>University of Economics</li>
                    <li>Computer Engineering</li>

                </ul>
                </p>

            </div>
            <div class="col-md-6">


                <p style="margin-top: 50px;">
                    Semihcan TÜRKYENER
                <ul>
                    <li>University of Economics</li>
                    <li>Computer Engineering</li>
                </ul>
                </p>

            </div>
        </div>
    </div>


</div>


