<div class="jumbotron" id="top" style="padding-top:65px;padding-bottom:65px;background: url(/static/img/antalya.jpg) center center; background-size: cover;">
    <div class="container" style="background-color:rgba(254,198,1,.7);">
        <h1>Ihr Autovermieter in Antalya, Bodrum, Dalaman und Izmir!</h1>
        <p>Möchten sie ein Auto für Ihren Türkei-Urlaub mieten? Bei mietwagen-turkei.com finden Sie günstige Mietwagen
            an vielen Stationen in der Türkei in Antalya, Bodrum, Dalaman und Izmir.</p>

        <div class="container page-home">
            <form class="form-horizontal" name="orderform" role="form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i ng-show="!loadingLocations" class="fa fa-map-marker" aria-hidden="true"></i>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                </div>

                                <input ng-model="pickup_loc" id="pickup-loc"  type="text" placeholder="Übernahmeort"
                                       uib-typeahead="address for address in getLocation($viewValue)"
                                       typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                                       class="form-control">

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="input-group">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{ format }}"
                                           placeholder="Übernahmetag"
                                           ng-model="pickup_date" is-open="popup1.opened"
                                           datepicker-options="dateOptions"
                                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                    <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="open1()">
                                      <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>

                                <select class="form-control" ng-model="placement.selected_pickup"
                                        ng-options="o as o for o in placement.options"></select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="input-group">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{ format }}"
                                           placeholder="Rückgabetag"
                                           ng-model="dropoff_date" is-open="popup2.opened"
                                           datepicker-options="dateOptions_dropoff"
                                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                    <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="open2()">
                                      <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                                <select class="form-control" ng-model="placement.selected_dropoff"
                                        ng-options="o as o for o in placement.options"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="col-lg-4" ng-show="dropoff_selection == 0">
                            <div class="input-group col-md-12">
                                <label for="dropoff" class="control-label">
                                    <input id="dropoff" type="checkbox" ng-model="dropoff_selection"
                                       ng-click="changeStation(dropoff_selection)"
                                       ng-true-value="1" ng-false-value="0">
                                    Rückgabe an einem anderen Ort
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-4"  ng-show="dropoff_selection == 1">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i ng-show="!loadingLocations" class="fa fa-map-marker" aria-hidden="true"></i>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                </div>

                                <input type="text" ng-model="dropoff_loc" id="dropoff_loc" placeholder="Drop Off Location"
                                       uib-typeahead="address for address in getDropOffLocation($viewValue)"
                                       typeahead-loading="loadingLocations" typeahead-no-results="noResults2"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <button type="button" class="col-md-12 btn btn-dark btn-lg pull-right" ng-click="submit()">Mietwagen finden</button>
                        </div>

                    </div>
                </div>
                <div class="clearfix"><br/></div>

            </form>
        </div>
    </div>


</div>

<div id="bottom" ng-if="allcars != ''">

    <div class="vertical-middle">

        <div class="container">

            <div class="col-md-3">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Allgemeine informationen
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Vollkasko inkl. Schäden an Reifen und Glas ohne Selbstbeteiligung!</li>
                            <li>Alle Steuern und Gebühren!</li>
                            <li>Alle Kilometer!</li>
                            <li>Zusatzfahrer kostenfrei!</li>
                            <li>Übergabe und Rückgabe direkt am Flughafen-Terminal bzw. an Ihrem Hotel!</li>
                            <li>Kostenlos umbuchen und stornieren!</li>
                            <li>Bezahlung bei Übernahme - keine Vorauszahlung!</li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Filteroptionen</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="panel-title margintop2">Gangwahl</h2>
                                <div class="form-group">
                                    <select class="form-control" ng-model="checkboxModel.transmission_type">
                                        <option value="0">Schaltgetriebe</option>
                                        <option value="1">Automatik</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h2 class="panel-title margintop2">Kraftstoff</h2>
                                <div class="form-group">
                                    <select class="form-control" ng-model="checkboxModel.fuel_type">
                                        <option value="1">Benzin</option>
                                        <option value="2">Diesel</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h2 class="panel-title margintop2">Fahrzeugklasse</h2>
                                <div class="form-group">
                                    <select class="form-control" ng-model="checkboxModel.body_type">
                                        <option value="0">Kombiwagen</option>
                                        <option value="1">Kompaktwagen</option>
                                        <option value="2">Kleines SUV</option>
                                        <option value="3">Mittelklasse</option>
                                        <option value="4">Untere Mittelklasse</option>
                                        <option value="5">Obere Mittelklasse</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h2 class="panel-title margintop2">Fahrzeugmarke</h2>
                                <div class="form-group">
                                    <select class="form-control" ng-model="brand.selected"
                                        ng-options="o as o for o in brand.options"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="col-md-12 btn btn-dark btn-lg" ng-click="check()">
                                Filter
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">Autos</div>
                    <div class="panel-body" style="padding:0px 15px;">

                        <div class="row" ng-repeat="item in allcars">
                            <div class="inner-car-container">

                                <div class="col-md-4 image-column">
                                    <img ng-src="{{ item.image }}" />
                                </div>
                                <div class="col-md-5 center-column showcase-cars">

                                    <h2>{{ item.model.name }}</h2>
                                    <ul class="property clearfix">
                                        <li class="gasoline">{{ item.fuel_type }}</li>
                                        <li class="gear">{{ item.transmission_type }}</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    <p>
                                        {{ item.description }}
                                    </p>

                                    <ul>
                                        <li class="col-md-12" style="color:#444;font-weight: bold;">{{ item.body_type.description }}</li>
                                       
                                    </ul>


                                    <ul class="terms">
                                        <li class="col-md-6">Min Fahrer: <b>{{ item.min_age }}</b></li>
                                        <li class="col-md-6">Min Führerscheinbesitz: <b>{{ item.min_license_year }}</b></li>
                                    </ul>

                                </div>
                                <div class="col-md-3 right-column">

                                    <div class="price-info">
                                        <div>
                                            {{ getPrice(item.pay_later_price) }} <i class="fa fa-{{ curr_name|lowercase }}"></i>
                                        </div>


                                        <p>{{totalDays }} Miettage / {{ getPrice(item.per_day_price) }}<i class="fa fa-{{ curr_name|lowercase }}"></i> pro Tag</p>
                                    </div>

                                    <div ng-if="!item.active">

                                        <a class="btn btn-info" role="button"
                                           ng-click="selectedCar(item,0)">Jetzt buchen<br>
                                        </a>
                                        <br /><br />
                                        <button type="button" class="btn btn-success" id="{{ item.id }}" role="button"
                                           ng-click="selectedCar(item,1)">

                                            Jetzt zahlen

                                            <span>
                                                {{ getPrice(item.pay_now_price) }} <i class="fa fa-{{ curr_name|lowercase }}"></i></span>


                                        </button>
                                    </div>
                                    <div ng-if="item.active">
                                        <a class="btn btn-success" role="button" disabled>
                                            Förderfähige Fahrzeuge gefunden.
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>

<div style="text-align: center" ng-if="allcars == ''">

   <ul style="list-style: none">
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> Vollkasko inkl. Schäden an Reifen und Glas ohne Selbstbeteiligung!</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> Alle Steuern und Gebühren!</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> Alle Kilometer!</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> Zusatzfahrer kostenfrei!</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> Übergabe und Rückgabe direkt am Flughafen-Terminal bzw. an Ihrem Hotel!</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> Kostenlos umbuchen und stornieren!</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> Bezahlung bei Übernahme - keine Vorauszahlung!</li>
    </ul>

</div>